*,
*::before,
*::after {
   box-sizing: border-box;
}

:root {
   --primary-text-color: #757575;
   --title-text-color: #303030;
   --second-btn-color: #303030;
   --acent-color: #FF6C00;
   --main-white-color: #ffffff;
   --main-btn-color: #ffffff;
   --hero-color: #2f303a;
   --section-comand: #f5f4fa;
   --text-color: #9DA4BD;
   --lonely-button: #188ce8;
   --after-title: #555555;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

p,
h1,
h2,
h3,
h4 {
   margin: 0 auto;
}

ul,
ol {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

address {
   font-style: normal;
}

body {
   font-family: "Open Sans", sans-serif;

   letter-spacing: 0.02em;
   font-size: 14px;
   line-height: 1.85;
}

.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
   outline: 1px solid red;
}

.section {
   padding-top: 120px;
   padding-bottom: 120px;
}

.link {
   text-decoration: none;
}

.header {
   background-color: var(--primary-text-color);
   padding-top: 32px;
   padding-bottom: 32px;
}

.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-btn {
   font-family: inherit;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.09em;
   text-transform: uppercase;

   min-width: 160px;
   height: 40px;

   color: var(--main-btn-color);
   background-color: transparent;

   border-radius: 25px;
   border: 1px solid #FF6C00;
}

// Navigation

.nav-list {

   display: flex;
   gap: 30px;
}

.nav {
   display: flex;
   align-items: center;
}

.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   margin-right: 131px;
}


.header-tel {
   margin-right: 43px;
}

.header-tel,
.nav-link {
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   text-decoration: none;

   color: var(--main-white-color);
}

.nav-link:hover,
.header-tel:hover,
.nav-link:focus,
.header-tel:hover:focus {
   color: var(--acent-color);
}

// Button

.btn {
   color: var(--hero-color);
}

.btn:hover,
.btn:hover {
   color: var(--main-btn-color);
}

.btn:hover {
   background-color: var(--acent-color);
   
}

// Modal form 

.backdrop {
   width: 100%;
   height: 100%;
   background-color: rgba(85, 85, 85, 0.482);
   position: fixed;
   top: 0;
   transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
   width: 500px;
   min-height: 500px;
   background-color: #ffffff;
   border-radius: 5px;
   position: absolute;
   top: 50%;
   left: 50%;
   padding: 40px;
   transform: translate(-50%, -50%) rotate(0);
   transition: transform 200ms linear, border-radius 200ms linear;
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%);
   border-radius: 10%;
}

.modal-close {
   width: 30px;
   height: 30px;
   background-color: transparent;
   /* border: 1px solid var(--text-color);
   border-radius: 50%; */
   border: none;
   position: absolute;
   right: 10px;
   top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.modal-close:hover {
   fill: var(--acent-color);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;

   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 10px;
}

.modal-input {
   width: 100%;
   height: 40px;
   padding: 10px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   outline: transparent;
   padding-left: 30px;
}



.modal-input:focus {
   border-color: var(--acent-color);
}

.modal-input:focus + .form__icon {
   fill: var(--acent-color);
}


.form-btn {
   color: var(--second-btn-color);
   display: block;
   margin: 0 auto;
   font-family: inherit;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.09em;
   text-transform: uppercase;

   min-width: 160px;
   height: 40px;


   background-color: transparent;

   border-radius: 25px;
   border: 1px solid #FF6C00;
}

.user-name,
.user-tel,
.user-email,
.comment__label {
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;

   letter-spacing: 0.01em;

   color: var(--title-text-color);
}

.input-wrap {
   position: relative;
   margin-bottom: 8px;
}

.form__icon {
   position: absolute;
   left: 8px;
   top: 50%;
   transform: translateY(-50%);
}

.modal-field {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   
}

.comment__label {
   margin-bottom: 5px;
}

.comment__text {
   resize: none;
   width: 100%;
   height: 100px;
   padding: 10px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   outline: transparent;
   padding-left: 10px;
}

.comment__text:focus {
   border-color: var(--acent-color);
}

.modal-input:not(:placeholder-shown):valid {
   color: red;
}


